.App {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
    padding: 1rem;
}


.Green {
    background-color: green;
    color: white;
}

.Red {
    background-color: red;
    color: white;

}

.Orange {
    background-color: orange;
    color: white;

}

.Blue {
    background-color: blue;
    color: white;

}

.Purple {
    background-color: purple;
    color: white;
}