.Btnbar {
    border-radius: 40px;
    box-shadow: 1px 1px 7px black;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    gap: 1rem;

}

.Green {
    background-color: green;
    color: white;
}

.Red {
    background-color: red;
    color: white;

}

.Orange {
    background-color: orange;
    color: white;

}

.Blue {
    background-color: blue;
    color: white;

}

.Purple {
    background-color: purple;
    color: white;

}